.svg {
  background-image: url("~images/question.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(0%) sepia(54%) saturate(324%) hue-rotate(317deg) brightness(89%) contrast(84%);
}
